:root{
    --orange:#ffa500;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;padding: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s linear;
}
header{
    position: fixed;
    top: 0px;left: 0px;right: 0px;
    background: #333;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;

}
header .logo{
 font-size: 2.5rem;
 font-weight: bolder;
 color: white;
 text-transform: uppercase;
}
header .logo span{
color:var(--orange);
}
header .navbar a{
color: white;
font-size: 2rem;
margin: 0. 8rem;
}
header .navbar a:hover{
    color:var(--orange);
    }
    header .icons i{
        font-size: 2.5rem;
        color: white;
        cursor: pointer;
        margin-right: 2rem;
    }
    header .icons i:hover{
        color:var(--orange);  
    }
    header .search-bar-container{
        position: absolute;
        top: 100%;left:0;right:0;
        padding:1.5rem 2rem;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        display:flex;
        align-items: center;
        z-index:1001;
    }
    header .search-bar-container.active{
clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
    header .search-bar-container #search-bar{
        width:100%;
        padding:1rem;
        text-transform: none;
        color: #333;
        font-size: 1.7rem;
        border-radius: .5rem;
    }
    header .search-bar-container label{
        color:white;
        cursor: pointer;
        font-size: 3rem;
        margin-left: 1.5rem;
    }
    header .search-bar-container label:hover{
        color:var(--orange);
    }
    .login-form
    {
        position:fixed;
        top:0;left:0;
        z-index:10000;
        min-height: 100vh;
        width:100%;
        background:rgba
    }

